[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django = "*"

[dev-packages]
django-debug-toolbar = "*"
tox = "*"
python-decouple = "*"
dj-database-url = "*"

[requires]
python_version = "3.6"
